.navbar {
  display: flex;
  position: relative;
  align-items: left;
  width: 100%;
  padding: 72px 0 16px;
  margin-bottom: 4rem;
}

.navbar-logo {
  width: 60%;
  height: 60%;
  justify-content: center;
  box-shadow: 30px 15px 50px rgb(40, 157, 235);
}

li {
  list-style-type: none;
  padding: 40px;
  display: inline-block;
  margin-left: 50px;
  font-size: 2em;
}

a {
  text-decoration: none;
}

.navbar li {
  box-shadow: 60px 40px 80px rgb(40, 157, 235);
}
